# ~/.config/yazi/yazi.toml

# --- Manager Settings ---------------------------------
[mgr]
# Show hidden files by default
show_hidden = true
# Set layout: [Parent, Current, Preview]
# My preference: 15% 35% 50%
ratio = [1, 2, 3]
# Set the default sort order
sort_by = "alphabetical" # Other options: "mtime", "natural", "btime", "extension", "size", "random"
sort_reverse = false  # A-Z ascending order

# --- Opener Settings ----------------------------------
# Define "openers" (applications)
[opener]
edit = [
    { run = 'nvim "$@"', block = true }, # Use nvim, wait for it to close
]

play = [
    { run = 'mpv "$@"', orphan = true },  # Use mpv, run in background
]

open = [
    { run = 'xdg-open "$@"', orphan = true },  # System default
]

# --- Open Rules ---------------------------------------
# Assign openers to file types (MIME types or names)
[open]
rules = [
    # Text files
    { mime = "text/*", use = "edit" },
    { mime = "application/json", use = "edit" },

    # Videos & Audio
    { mime = "video/*", use = "play" },
    { mime = "audio/*", use = "play" },
    
    # Fallback: Use system's default 'xdg-open'
    { name = "*", use = "open" }
]

[plugin]

prepend_preloaders = [
    # Office Documents
    { mime = "application/openxmlformats-officedocument.*", run = "office" },
    { mime = "application/oasis.opendocument.*", run = "office" },
    { mime = "application/ms-*", run = "office" },
    { mime = "application/msword", run = "office" },
    { name = "*.docx", run = "office" },
]

prepend_previewers = [
    # Office Documents
    { mime = "application/openxmlformats-officedocument.*", run = "office" },
    { mime = "application/oasis.opendocument.*", run = "office" },
    { mime = "application/ms-*", run = "office" },
    { mime = "application/msword", run = "office" },
    { name = "*.docx", run = "office" },
    { name = "*.md", run = "glow" },
]
